$icon-size: 3rem;
$item-width: 18.75rem;
$arrow-with: 11rem;
$arrow-height: 9rem;
$description-width: 15rem;

.our-preferences,
.how-it-works {
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h3 {
      font-size: 4.5rem;
      line-height: 6.5rem;
      margin-bottom: 5rem;
    }
  }

  &__road {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__road {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.road-point{
  position: relative;


  &:last-of-type{
    &:after{
      display: none;
    }
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 1.2rem;
    width: $arrow-with;
    height: $arrow-height;
    background: no-repeat url("../img/how-it-works/arrow.svg");
  }

  &:nth-of-type(odd){
    &:after {
      left: $description-width;
    }
    .road-point__icon{
      left: -$icon-size - 1;
    }
  }

  &:nth-of-type(even){
    text-align: right;

    &:after {
      right: $description-width;
      transform: scaleX(-1);
    }
    .road-point__icon{
      right: -$icon-size - 1;
    }
  }

  &__icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-size;
    height: $icon-size;
    top: 0;
    border-radius: 50%;
    border: 2px dotted white;
    padding: 0.5rem;

    img{
      display: block;
      width: auto;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__description {
    max-width: 15rem;
  }
}
