.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  &__label {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;

    span {
      font-size: 5rem;
    }
  }

  &__description {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
}
