@import "../../scss/Variables";

.search {
  background: $bg-light;
  height: 5rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

  &__link {
    color: $text-blue;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      color: $text-blue;
    }
  }
}
