@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header__nav {
    button {
      display: none;
    }
  }
  .our-preferences,
  .how-it-works {
    &__about {
      align-items: center !important;
    }
    h3 {
      text-align: center;
    }
  }

  .how-it-works {
    button {
      margin-bottom: 7rem;
    }
  }
}

@media (max-width: 768px) {
  .header__nav {
    .link {
      display: none;
    }
  }
  html {
    font-size: 10px;
  }
}
