$container-max-widths: (
        sm: 600px,
        md: 800px,
        lg: 1000px,
        xl: 1440px );

$bg-light: #dff0f0;

$bg-light-blue: #66cfcf;
$bg-middle-blue: #005173;
$bg-dark-blue: #0b2a37;
