@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Maven Pro", "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.screen {
  height: 100vh;

  &_bg-top-banner {
    background: url("../img/screens/bg-top-banner.jpg") no-repeat top / cover;
  }

  &__header {
    height: 40vh;

    &_bg-how-it-works {
      background: url("../img/screens/bg-how-it-works.jpg") no-repeat top / cover;
    }
    &_bg-recalls {
      background: url("../img/screens/bg-recalls.jpg") no-repeat top / cover;
    }
    &_bg-our-preferences {
      background: url("../img/screens/bg-our-preferences.jpg") no-repeat top / cover;
    }
  }

  &__body {
    height: 60vh;

    &_bg-how-it-works {
      background: $bg-light-blue;
    }
    &_bg-our-preferences {
      background: $bg-middle-blue;
    }
  }
}

.search {
  height: 220px;
  background: $bg-light;
}
.call-us {
  height: 220px;
}

.footer {
  height: 320px;
  background: $bg-dark-blue;
}


.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__label {
    font-size: 3.5rem;
    line-height: 5rem;
    margin-bottom: 1.5rem;

    span {
      font-size: 5rem;
    }
  }

  &__description {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
}

.pick-out-text {
  color: $text-blue;
  font-weight: bold;
}

.btn {
  background: transparent;
  border: 0;
  font-weight: bold;
  color: white;

  &_lg {
    padding: 22px 56px;
    border-radius: 0.3rem;
  }
  &_outline {
    border: 2px solid white;
  }
  &_bg-red {
    background: $bg-red;
  }
}
