@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .top-menu-btn {
    display: none;
  }

  .our-preferences,
  .how-it-works {
    &__about {
      align-items: center !important;

      &__label {
        text-align: center !important;
      }
    }
  }

  .how-it-works__about__button {
    margin-bottom: 7rem;
  }

  .our-preferences {
    background-size: 600px !important;
    background-position: 110% 130%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .hidden-md {
    display: none;
  }

  .header__nav {
    .link {
      display: none;
    }
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 16px;

    &__copyright {
      font-size: 12px;
    }

    &__column {
      margin-bottom: 1rem;

      &_label {
        margin-bottom: 0;
      }
    }
  }

  .our-preferences {
    background-size: 500px !important;
    background-position: 110% 120%;
  }
}

@media (max-width: 575px) {
  .hidden-md,
  .hidden-xs {
    display: none ;
  }

  .call-us {
    font-size: 16px;
  }

  .footer__logo {
    display: none;
  }

  .btn {
    width: 60% ;
  }
}
